body {
  background-color: rgb(31, 30, 30);
  font-family: "Roboto", sans-serif;
}

header {
  text-align: center;
  color: rgb(245, 244, 244);
}
form {
  width: 30rem;
  margin: 3rem auto;
  background-color: rgb(245, 244, 244);
  padding: 1rem;
  border-radius: 8px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input, textarea {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(184, 184, 184);
  color: rgb(58, 58, 58);
}

input:focus,textarea:focus {
  background-color: rgb(219, 190, 253);
  color: rgb(59, 0, 126);
}

button {
  display: block;
  font: inherit;
  background-color: rgb(59, 0, 126);
  color: white;
  border: 1px solid rgb(59, 0, 126);
  padding: 0.7rem 1rem;
  cursor: pointer;
}

button:hover {
  background-color: rgb(74, 7, 150);
  border: 1px solid rgb(74, 7, 150);
}

.form-control-inline {
  display: flex;
}

.form-control-inline input {
  width: auto;
}

#buttons {
  display: flex;
  gap: 1rem;
}